/Input_Files/Static/.settings.yaml
/Output_Files/out
/Output_Files/cc_Aggregated
/Output_Files/cc_level
/Output_Files/Aggregated
/Input_Files/All_Keywords_FR.csv
/Input_Files/All_Keywords_ES.csv
/Input_Files/All_Tag_Keyword_ES.csv
/Input_Files/All_Tag_Keyword_FR.csv
/Input_Files/All_Tags_DE.csv
/Input_Files/All_Tags_ES.csv
/Input_Files/All_Tags_FR.csv
/Input_Files/IT_Homepage_Ticket_Counts.csv
/Input_Files/IT_Summer_Ticket_Counts.csv
/Input_Files/IT_Wedding_Ticket_Counts.csv
/Input_Files/Keywords_DE.csv
/Input_Files/Keywords_ES.csv
/Input_Files/Keywords_FR.csv
/Input_Files/Summer_Keywords_DE.csv
/Input_Files/Summer_Keywords_FR.csv
/Input_Files/Summer_Tag_Keyword_DE.csv
/Input_Files/Summer_Tag_Keyword_FR.csv
/Input_Files/Tag_Keyword_ES.csv
/Input_Files/Tag_Keyword_FR.csv
/Input_Files/Tag_Keyword_IT.csv
/Input_Files/Tag_selection_chris_hp.csv
/Input_Files/Best_Keywords.json
/Input_Files/ProntoPro Trends_Questions_AT.json
/Input_Files/ProntoPro Trends_Questions_CH.json
/Input_Files/ProntoPro_Trends_Questions_ES.json
/Input_Files/ProntoPro_Trends_Questions_FR.json
/Input_Files/ProntoPro_Trends_Questions_IT.json
/Input_Files/ProntoPro_Trends_Questions_DE
/Output_Files/FINAL FINAL
/Output_Files/FINAL/HP.zip
/Output_Files/FINAL/Wed-FR-Final.zip
/Output_Files/FINAL/France/
/Output_Files/FINAL/HP/
/Output_Files/FINAL/HP-old/
/Output_Files/FINAL/Italy/
/Output_Files/FINAL/Pictures/
/Output_Files/FINAL/Spain/
/Output_Files/FINAL/Wed-FR-Final/
/misc/out.zip
/misc/out summer FR.zip
/misc/out_FR.zip
/misc/out_TOP10_ES.zip
/misc/Top 10 Scraping.zip
/misc/DE_Analysis.csv
/misc/ES_Analysis.csv
/misc/FR_Analysis.csv
/misc/IT_Tags.csv
/misc/Summer_Tags_DE.csv
/misc/Summer_Tags_FR.csv
/misc/TOP5_TAGS_IT.csv
/misc/Top_Tag_Keyword_DE.csv
/misc/Wedding_Tag_Requests_IT copy.csv
/misc/test.json
/misc/testing_comparisons.json
/Output_Files/comparisons/
/temp_scripts/SCRIPT FROM ANDREA extract_prospect_to_csv.py
/temp_scripts/temp.py
/temp_scripts/temp2.py
/temp_scripts/testing_ copy.py
/temp_scripts/
/Input_Files/IT_Summer_Ticket_Counts_Categories.csv
/utils/folder_profiler_result.json
/Output_Files/FINAL/Germany/Buget_raw.csv
/Input_Files/AT_Renovation_Keywords.json
/Input_Files/CH_Renovation_Keywords.json
/Input_Files/ProntoPro_Trends_Questions_AT.json
/Input_Files/ProntoPro_Trends_Questions_CH.json
/Input_Files/Renovation_Keywords_AT.csv
/Input_Files/Renovation_Keywords_CH.csv
/Input_Files/Renovation_Tag_Keyword_AT.csv
/Input_Files/Renovation_Tag_Keyword_CH.csv
/Input_Set_Up/Renovation_Keywords.csv
/Input_Set_Up/Renovation_Tags_CH.csv
/Output_Files/FINAL/
/venv/
/folder_profiler_result.json
/IT_total_Ticket_counts.csv
